<div style="text-align:center;"><h2>ようこそスパプロへ</h2></div>
<div class="row">
  <div class="col-md-10, clearfix">
    <% @articles.each do |article| %>
      <div class="float_item">
        <%= attachment_image_tag article, :article_image, :fill,200,200, format:"jpeg", class:"", fallback:"no_image.jpeg", :size => "200x200" %><br />
        名前:&nbsp;<%= link_to article.spa_name, users_article_path(article.id) %>
      </div>
    <% end %>
  </div>
</div>
